.search {
	&__form {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

.home-header {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column
}

@media (min-width:991px) {

	.footer-col,
	.home-banner-1 .box-banner {
		float: left
	}

	.footer-col {
		width: 33.33333%
	}

	.home-banner-1 .box-banner {
		width: 50%
	}
}

@media (min-width:1235px) {
	.av-hidden-lg {
		display: none !important
	}
}

@media (min-width:991px) and (max-width:991px) {
	.av-hidden-sm {
		display: none !important
	}
}

@media (min-width:992px) and (max-width:1235px) {
	.av-hidden-md {
		display: none !important
	}
}

.av-col-static {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: static
}

.button--medium {
	font-size: 13px;
	font-weight: 700;
	padding: 18px
}

.button--red-white-arrow {
	color: #fff;
	background-color: #e60014;
	text-align: center;
	width: 100%;
	max-width: 375px;
	display: inline-block
}

.button--red-white-arrow:hover {
	color: #fff;
	background-color: #b30010
}

.button--red-white-arrow:after {
	display: inline-block;
	content: "";
	margin-left: 15px;
	margin-right: 15px
}

body {
	color: #272727;
	font-family: 'Source Sans Pro'
}

header {
	top: 0;
	width: 100%
}

header {
	display: block;
}

@media (min-width:991px) {
	.home-banner-1 img {
		height: auto;
		max-width: 100%
	}
}

.home-banner-2 .box-banner {
	margin-bottom: 16px
}

@media (min-width:1235px) {
	.home-banner-2 .box-banner {
		margin-bottom: 20px
	}
}

.home-banner-2 img {
	max-width: 100%;
	height: auto;
	width: 100%
}

img {
	max-width: 100%;
	height: auto
}

footer {
	margin-top: 0
}

footer li {
	list-style: none;
	font-size: 12px
}

.av-container:after,
.av-row:after,
.nav:after {
	clear: both
}

footer,
header,
main,
nav {
	display: block
}

.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none
}

.nav:after,
.nav:before {
	content: " ";
	display: table
}

.nav>li,
.nav>li>a {
	display: block;
	position: relative
}

.nav>li>a {
	padding: 10px 15px
}

.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	background-color: #eee
}

.nav>li>a>img {
	max-width: none
}

.button--red {
	background-color: #e60014;
	font-size: 11px;
	font-weight: 700;
	color: #fff
}

.button--red:hover {
	background-color: #b30010
}

header {
	top: 0;
	width: 100%
}

@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0
	}

	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px
	}

	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0
	}

	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px
	}

	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px
	}
}

@-webkit-keyframes color {

	0%,
	100%,
	40%,
	66%,
	80%,
	90% {
		stroke: #000
	}
}

@keyframes color {

	0%,
	100%,
	40%,
	66%,
	80%,
	90% {
		stroke: #000
	}
}

img {
	max-width: 100%;
	height: auto
}

footer {
	margin-top: 30px
}

footer li {
	list-style: none;
	font-size: 12px
}

.header {
	display: block;
	z-index: 999;
	&__link--help:before {
		background-position: 0 -939px;
		height: 22px;
		width: 25px
	}

	&__link--register a,
	&__link--register a:hover,
	&__link--register:hover,
	&__link--store-locator:hover,
	&__link--register:active,
	&__link--register:focus,
	&__link--store-locator:active,
	&__link--store-locator:focus {
		color: #fff
	}

	&__content {
		@media (max-width:991px) {
			padding: 0px 0px;
		}

		background-color: #17264d;
		border-style: solid;
		border-width: 3px;
		border-bottom: none;
		border-left: none;
		border-right: none;
		border-image: linear-gradient(45deg, #ee7d00, #c65d0e) 1;
		padding: 20px 0 13px;
		position: relative
	}

	&__menu-wrapper {
		@media (max-width:991px) {
			background-color: white
		}
		background-color: #083b76
	}

	&__account,
	&__help,
	&__logo,
	&__search {
		display: inline-block
	}

	&__search {
		margin-left: 25px;
		margin-right: 25px;
	}

	@media (max-width:991px) {
		&__search {
			margin: 20px 0px;
			width: 100%;
			height: 90px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
	}

	&__link--register,
	&__link--store-locator {
		@media (max-width:991px) {
			margin-top: 0px;
			width: 100%;
			text-align: center;
		}

		margin-top: -20px;
		float: right;
		font-size: 10px;
		color: #fff;
		text-transform: uppercase
	}

	&__link--register {
		float: left
	}

	&__link--account,
	&__link--help {
		font-size: 10px;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase
	}

	&__help {
		margin: 0 25px;
		padding: 7px 0 0
	}

	&__help {
		margin: 0 10px
	}

	&__link {
		color: white;
		text-decoration: none;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 10px;
	}

	&__link_prov {
		color: white;
		text-decoration: none;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__link_prov:hover {
		text-decoration: none;
	}

	&__link:hover {
		color: white;
		text-decoration: none;
	}

	&__link--help {
		border: 1px solid #3f82ba;
		border-radius: 3px;
		padding: 6px 10px 5px;
		display: inline-block;
		transition: border-color .3s
	}

	&__link--help:hover {
		border-color: #fff;
		color: #fff;
		text-decoration: none
	}

	&__link--account {
		margin-left: 10px;
		text-align: center;
		transition: border-color .3s
	}

	&__link--account-box {
		cursor: pointer;
		border: 1px solid #17264d;
		padding: 5px 10px;
		text-align: center;
		transition: border-color .3s;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 138px;
	}

	&__link--account-box:hover {
		border-color: #fff;
		color: #fff;
		text-decoration: none
	}

	&__link--account:hover {
		border-color: #fff;
		color: #fff;
		text-decoration: none
	}

	&__responsive {
		@media (max-width:991px) {
			position: inherit;
			display: none;
		}

		position: fixed;
		width: 100%;
		z-index: 1
	}

	&__menu {
		position: relative
	}

	&__logo {
		position: relative;
		top: -3px
	}

	@media (min-width:992px) {
		header {
			position: absolute
		}

		&__content {
			position: fixed;
			width: 100%;
			z-index: 999;
		}

		&__menu-wrapper {
			margin-top: 78px;
			width: 100%
		}

		&__search {
			width: 100%;
			max-width: 587px
		}
	}
}

.search {
	&__submit:before {
		background-position: 0 -1059px;
		height: 21px;
		width: 22px
	}

	&__submit {
		color: white;
		background-color: #ee7d00;
		width: 53px;
		height: 35px;
		position: relative;
		border: none;
		border-radius: 0 3px 3px 0;
		padding: 18px 18px 17px
	}

	&__submit:before {
		content: "search";
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%)
	}
}

.sprite-icon-menu {
	&__all {
		background-position: 0 -1184px;
		height: 15px;
		width: 23px
	}

	&__climatizacao {
		background-position: 0 -1209px;
		height: 23px;
		width: 33px
	}

	&__eletrodomesticos {
		background-position: 0 -1242px;
		height: 21px;
		width: 21px
	}

	&__eletroportateis {
		background-position: 0 -1273px;
		height: 23px;
		width: 23px
	}

	&__ferramentas {
		background-position: 0 -1306px;
		height: 23px;
		width: 22px
	}

	&__informatica {
		background-position: 0 -1339px;
		height: 22px;
		width: 31px
	}

	&__moveis {
		background-position: 0 -1371px;
		height: 22px;
		width: 25px
	}

	&__telefonia {
		background-position: 0 -1403px;
		height: 26px;
		width: 23px
	}

	&__tvs-audio {
		background-position: 0 -1439px;
		height: 23px;
		width: 35px
	}
}

.search {
	&__target {
		position: absolute;
		top: 46px;
		z-index: 1;
		background-color: #fff
	}

	&__input {
		width: calc(100% - 88px);
		padding: 9px 15px 9px 20px;
		font-size: 12px;
		border: none;
		border-radius: 3px 0 0 3px;
		float: left
	}

	&__target {
		width: 100%
	}
}

.menu {
	&__list {
		@media (max-width:991px) {
			flex-wrap: wrap;
		}

		list-style: none;
		padding: 0;
		margin: 0
	}

	&__item,
	&__account a {
		text-align: center
	}

	&__item:last-child &__link {
		padding: 40px 20px 13px 21px
	}

	&__link {
		height: 65px;
		padding: 40px 20px 13px;
		font-size: 13px;
		font-weight: 400;
		color: #fff;
		display: flex;
		justify-content: center;
	}

	@media only screen and (max-width: 1235px) and (min-width: 400px) {
		&__link {
			height: 80px;
		}
	}

	&__link:hover {
		background-color: #fff;
		color: #17264d;
		text-decoration: none
	}

	&__link:focus {
		color: #fff
	}

	&__account {
		background-color: #fff;
		display: block;
		width: 100%;
		padding: 0 20px;
		height: 44px;
		line-height: 44px;
		border-bottom: 1px solid #d0d0d0
	}

	&__account a {
		color: #656565;
		width: 50%;
		float: left;
		text-transform: uppercase;
		font-size: 12px
	}

	&__account a:first-child {
		border-right: 1px solid #d0d0d0
	}

	&__mobile-container {
		position: absolute;
		width: 100%;
		overflow-y: auto;
		top: 100px
	}


	&__link-icon {
		position: absolute;
		top: 12px;
	}

	&__submenu-container {
		background-color: #fff;
		display: none;
		z-index: -1
	}

	&__banner {
		width: 460px;
		height: 430px;
		float: right;

		@media (max-width:991px) {
			display: none;
		}

	}

	&__banner img {
		width: 100%;
		height: auto;
		-webkit-box-shadow: 0 0 5px #333;
		box-shadow: 0 0 5px #333
	}

	&__header {
		background-color: #17264d
	}

	&__header-title {
		margin: 0;
		padding: 20px
	}

	&__header-title img {
		max-width: 150px;
		height: ato
	}

	@media (min-width:992px) {
		&__item {
			float: left
		}

		&__submenu-container {
			width: 100%;
			max-width: 1180px;
			height: 430px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .2);
			z-index: 10
		}

		&__item:hover {
			background-color: #fff
		}

		&__item:hover &__link {
			color: #17264d
		}

		&__item:hover &__submenu-container {
			display: block;
			position: absolute;
		}

		&__submenu {
			width: calc(100% - 460px);
			height: 400px;
			margin: 25px 0 0;
			float: left;
			overflow-x: auto;
			overflow-y: auto;
			padding: 0 0 0 35px;
			-webkit-column-count: 2;
			column-count: 2;
			-webkit-column-fill: auto;
			column-fill: auto
		}
	}

	@supports (-webkit-touch-callout:none) {
		&__mobile-container {
			height: calc(100vh - 220px)
		}
	}

	@supports not (-webkit-touch-callout:none) {
		&__mobile-container {
			height: calc(100vh - 165px)
		}
	}

	@supports (-webkit-touch-callout:none) {
		&__mobile-container {
			height: calc(100vh - 220px)
		}
	}

	@supports not (-webkit-touch-callout:none) {
		&__mobile-container {
			height: calc(100vh - 165px)
		}
	}
}

.submenu {
	&__link {
		padding: 5px 7px;
		position: relative;
		font-size: 14px;
		font-weight: 400;
		color: #272727;
		display: block;
		text-align: left;
	}

	@media (min-width:992px) {
		&__link:hover {
			color: inherit;
			text-decoration: underline
		}
	}
}

.material-icons-mobile-none {
	@media (max-width:991px) {
		display: none !important;
	}
}


.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	display: inline-block;
	padding: 0px 10px;
	position: relative;
}
.header .menu > .menu-item > a{
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 12px 0;
	@media (min-width:1250px) and (max-width:1590px) {
		padding: 6px 0;
		font-size: 14px;
	}
	// @media (min-width:991px) and (max-width:1250px) {
	// 	padding: 3px 0;
	// 	font-size: 8px;
	// }
	font-size: 18px;
	color: white;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: white;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: white;
}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}

.header .menu > .menu-item{
	transition: all 0.15s ease;
}

.header .menu > .menu-item:hover > a{
	color: #E6E6E6;
}
.header .menu > .menu-item > .sub-menu{
	@media(min-width: 992px){
		display: flex;
		flex-wrap: wrap;
	}
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	@media (min-width:1250px) and (max-width:1590px) {
		width: 300px;
	}
	@media (min-width:991px) and (max-width:1250px) {
		width: 150px;
	}
	@media(max-width: 992px){
		width: 220px;
	}
	width: 440px;
	position: absolute;
	left:0;
	top:100%;
	background-color: #ffffff;
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateX(-35%);
	opacity: 1;
	visibility: visible;
 }
 .header .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);		
 }
}
.header .menu > .menu-item > .sub-menu > .menu-item{
	@media(min-width: 1590px){
		width: 220px;
	}
	@media (min-width:992px) and (max-width:1590px) {
		width: 150px;
	}
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	@media (min-width:1250px) and (max-width:1590px) {
		font-size: 10px;
	}
	@media (min-width:992px) and (max-width:1250px) {
		font-size: 8px;
	}
	font-size: 12px;
	font-weight: 600;
	color: #272727;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: white;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: white;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 100%;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}

@media(max-width: 991px){
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.header .menu > .menu-item > a .plus:before, 
	.header .menu > .menu-item > a .plus:after{
		background-color: #ffffff;
	}
	.header .menu > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
		left: 50%;
		transform: translate(-50%);
	}
	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: #ffffff;
		border-bottom: 1px solid #333333;
	}
	.header .open-nav-menu{
		width: 100%;
		display: flex;
		padding: 10px;
		justify-content: flex-start;
		background-color: #17264d;
	}
	.header .close-nav-menu{
		display: flex;
	}
}

.class-mobile{
	@media(max-width: 992px){
	width: 0px !important;
    height: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
	}
}